<div class="sidebar">

    <div class="logo">

        <div class="logo-box">
            F
        </div>

        <div class="logo-text">
            <h1>FlowCRM</h1>
            <span>Sales Platform</span>
        </div>

    </div>

    <div class="menu">

        <a href="index.html">
            Dashboard
        </a>

        <a href="leads.html">
            Leads
        </a>

        <a href="funil.html">
            Funil
        </a>

        <a href="novo_lead.html">
            Novo Lead
        </a>

    </div>

</div>